---
import Layout from '../layouts/Layout.astro';

// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio Page" description="Portfolio Page Description">
  <main class="flex flex-col bg-red-500 sm:bg-pink-500 lg:bg-indigo-500 xl:bg-cyan-500 2xl:bg-blue-500">
    <div class="pl-4 pr-4 container mx-auto">
      <div class="columns-3xl max-w-3xl">
        <div class="bg-blue-100 sm:bg-indigo-500 md:bg-sky-900 lg:bg-indigo-100 xl:bg-cyan-900 2xl:bg-blue-900">
          portfolio page content goes here, portfolio page content goes here, portfolio page content goes here
        </div>
      </div>
    </div>
    <div class="">
      <div class="">
        <p class="bg-blue-100 sm:bg-indigo-500 md:bg-sky-900 lg:bg-indigo-100 xl:bg-cyan-900 2xl:bg-blue-900">
          portfolio page content goes here, portfolio page content goes here, portfolio page content goes here
        </p>
      </div>
    </div>
  </main>
</Layout>
