---
import Layout from '../layouts/Layout.astro';
---

<Layout title="" description="">
  <main class="flex flex-col pt-20 pb-30 border-t-5 border-lime-500 sm:border-purple-500 md:border-blue-100 lg:border-sky-500 xl:border-red-500 2xl:border-blue-500">

    <div id="" class="container mx-auto pl-4 pr-4">
      fromDoppler-unlocking-automation-for-everyone
    </div>


  </main>
</Layout>

<style>
</style>