---
interface Props {
  href: string;
  label: string;
  mobile?: boolean;
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const { href, label, mobile = false } = Astro.props;

const isActive = currentPath === href.slice(1);
const isMobile = mobile ? 'movile-nav-item' : 'nav-item';
---

<li class="uppercase font-semibold">
  <a class:list={[isMobile, isActive ? 'active' : '']} href={href}>{label}</a>
</li>

<style>
  .nav-item {
    transition: background-color linear 0.5s;
    display: flex;
    background-color: #FFFFFF;
  }

  .nav-item:hover {
    background-color: var(--color-highlight);
  }

  .nav-item.active:hover {
    background: #FFFFFF;
    background: linear-gradient(180deg, #ffffff 60%, var(--color-highlight) 60%);
  }
  
  .nav-item.active {
    pointer-events: none;
    cursor: pointer;
    background: #FFFFFF;
    background: linear-gradient(180deg,#ffffff 60%, var(--color-highlight) 60%);
  }

  .nav-item.active:focus {
    background: #FFFFFF;
  }

  .nav-item:focus {
    outline: 2px solid var(--color-active);
    border-radius: 2px;
  }
</style>