---
interface Props {
  href: string;
  label: string;
  mobile?: boolean;
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const { href, label, mobile = false } = Astro.props;

const isActive = currentPath === href.slice(1);
const isMobile = mobile ? 'movile-nav-item' : 'nav-item';
---

<li class="uppercase font-semibold">
  <a class:list={['link-animated', isMobile, isActive ? 'active' : '']} href={href}>{label}</a>
</li>

<style>
.nav-item {
  display: flex;
}
.nav-item.active {
  pointer-events: none;
  cursor: pointer;
  background: #FFFFFF;
  background: linear-gradient(180deg,transparent 60%, var(--color-highlight) 60%);
}
.nav-item.active:hover {
  background: transparent;
  background: linear-gradient(180deg, transparent 60%, var(--color-highlight) 60%);
}
.nav-item.active:focus {
  background: transparent;
}
.nav-item.active:focus {
  background: transparent;
}
</style>